<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'w-full lg:w-1/3 mx-auto' }) do |f| %>
  <h2>Forgot your password?</h2>

  <% if resource.errors.full_messages.size > 0 %>
    <div class="mt-8 bg-red-lighter px-4 py-2 leading-normal border">
      <% resource.errors.full_messages.each do |msg| %>
        <p>
          <%= msg %>.
        </p>
      <% end %>
    </div>
  <% end %>

  <div class="mt-8">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true %>
  </div>

  <div class="mt-8 text-right">
    <%= f.submit "Reset password", class: 'button' %>
  </div>
<% end %>
